body {
    margin: 0;
    background: black;
    overflow: hidden;
}

#timer {
    color: white;
    font-size: 24px;
    text-align: center;
    margin-top: 10px;
}

@keyframes shuffle {
    0% { transform: translateX(0); }
    25% { transform: translateX(-30px); }
    50% { transform: translateX(30px); }
    75% { transform: translateX(-30px); }
    100% { transform: translateX(0); }
}

.card.shuffling {
    animation: shuffle 0.5s ease-in-out;
}

#wrapper {
    height: 100vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}

#stats {
    color: white;
    position: absolute;
    padding: 1rem;
    text-align: center;
    width: calc(100% - 2rem);
    font-size: 3rem;
}

#game {
    height: 100vh;
    max-height: 700px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.card {
    width: 100px;   /* Tamaño de la carta */
    height: 140px;  /* Tamaño de la carta */
    margin: 1rem;
    position: relative;
    transform-style: preserve-3d;
    perspective: 1000px;
    transition: transform 0.5s;
}

.card.active {
    transform: rotateY(180deg);
}

.card div {
    width: 100%;
    height: 100%;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    backface-visibility: hidden;
}

.card .back {
    border: 3px solid rgb(218, 73, 218);
    background: url(images/carta.png) center / contain no-repeat;
}

.card .face {
    background: rgb(209, 68, 209);
    color: black;
    font-size: 6rem;
    transform: rotateY(180deg);
    display: flex;
    align-items: center;
    justify-content: center;
}

.card .face img {
    width: 100%;    /* La imagen ocupa el 100% del ancho de la carta */
    height: 100%;   /* La imagen ocupa el 100% de la altura de la carta */
    object-fit: cover;  /* Ajuste de la imagen para evitar distorsiones */
    border-radius: 8px; /* Bordes redondeados para la imagen */
}






